.pageMap {
  &__container {
    max-width: 192rem;
    padding: 0 5rem;
    margin: 0 auto;
    margin-top: 10rem;
    @include tablet {
      padding: 0 1.5rem;
      margin-top: 6rem;
    }

    @include mobile {
      margin-top: 5rem;
    }

    h3 {
      text-align: center;
      color: var(--blue);
      margin-bottom: 10rem;

      @include tablet {
        margin-bottom: 6rem;
      }

      @include mobile {
        margin-bottom: 5rem;
      }
    }
  }

  &__map {
    position: relative;
    margin-bottom: 5rem;
    width: 100%;

    height: 88rem;
    overflow: hidden;

    @include tablet {
      margin-bottom: 3rem;
    }

    @include mobile {
      height: 50rem;
    }

    .image-main {
      user-select: none;
      pointer-events: none;
      user-select: none;

      &.desk {
        @include tablet {
          display: none;
        }
      }

      &.tablet {
        display: none;

        @include tablet {
          display: flex;
        }

        @include mobile {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @include mobile {
          display: flex;
        }
      }

      @include tablet {
        touch-action: none;
      }
    }

    &--cont {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // min-width: 182rem;
      // min-height: 80rem;
      user-select: none;
      transition: all 0.3s ease;

      // @include tablet {
      //   min-width: 120rem;
      //   min-height: 80rem;
      // }

      // @include small-tablet {
      //   transform: translateX(-33%);
      // }

      // @include mobile {
      //   min-width: 120rem;
      //   min-height: 50rem;
      //   transform: translateX(-35%);
      // }
    }

    &--pos {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  &__flags {
    display: flex;
    align-items: flex-start;
    padding-left: 15rem;

    @include big-desktop {
      padding-left: 0;
    }

    &.desk {
      column-gap: 30rem;

      @include tablet {
        display: none;
      }
    }

    &.tablet {
      display: none;

      @include tablet {
        display: flex;
        column-gap: 18rem;
      }

      @include mobile {
        gap: 3rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3rem;

      li {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
          max-width: 2.8rem;
        }

        span {
          font-size: 2.2rem;
          line-height: 1;
          margin-bottom: -0.2rem;
        }
      }
    }
  }
}

.button__map {
  position: absolute;
  // z-index: var(--z-button-map);

  &.active {
    .button__map--text {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }
  }

  &--1 {
    top: 34%;
    left: 54%;

    @include mobile {
      top: 45%;
    }
  }

  &--2 {
    top: 36%;
    left: 49%;

    @include mobile {
      top: 51%;
    }
  }

  &--3 {
    top: 40%;
    left: 48%;

    @include mobile {
      top: 46%;
    }
  }

  &--4 {
    top: 38%;
    left: 52%;

    @include mobile {
      top: 51%;
    }
  }
  &--container {
    position: relative;
  }

  &--close {
    margin-top: 0.5rem;
    margin-right: -2rem;
    margin-bottom: -0.9rem;
    opacity: 0;
    visibility: hidden;

    @include tablet {
      opacity: 1;
      visibility: visible;
    }
    &--container {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &--text {
    position: absolute;
    border-radius: 10px;
    background: var(--blue);
    text-align: left;
    padding: 0 2.8rem 1.6rem 1.5rem;
    // top: -24.3rem;
    bottom: 1.4rem;
    // min-height: 25.8rem;
    left: 50%;
    transform: translateX(-50%) scale(0);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: var(--z-button-map-list);

    h6 {
      font-size: 2rem;
      color: var(--white);
      max-width: 17.6rem;
      margin-bottom: 0.7rem;
    }

    ul {
      padding: 0;
      list-style: none;
      margin: 0;
    }

    li {
      font-size: 1.2rem;
      color: var(--white);
      max-width: 17.6rem;
    }

    p {
      font-size: 1.4rem;
      color: var(--white);
      max-width: 17.6rem;
    }
  }
  .icon-map {
    max-width: 2rem;
    width: 2rem;
  }

  @include hover {
    .button__map--text {
      opacity: 1;
      visibility: visible;
      transform: translateX(-50%) scale(1);
    }
  }
}
