<footer class="footer">
  <div class="footer__container">
    <div class="container">
      <div class="footer__content">
        <div class="footer__logo">
          <svg class="footer__logo--svg" viewBox="0 0 164 60">
            <use xlink:href="img/sprite.svg#icon-logo"></use>
          </svg>
        </div>
        <div class="footer__links">
          <div class="footer__links--top">
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item"><a href="#">КОМПАНИЯ</a></li>
                <li class="menu-item"><a href="#">ПРОДУКЦИЯ</a></li>
                <li class="menu-item"><a href="#">поставщикам</a></li>
                <li class="menu-item"><a href="#">карьера</a></li>
                <li class="menu-item"><a href="#">контакты</a></li>
              </ul>
            </nav>
            <nav class="nav-menu" title="">
              <span>Пресс-центр:</span>
              <ul>
                <li class="menu-item"><a href="#">новости</a></li>
                <li class="menu-item"><a href="#">Digest асг</a></li>
                <li class="menu-item"><a href="#">Пресс-кит</a></li>
              </ul>
            </nav>
            <nav class="nav-menu" title="">
              <ul>
                <li class="menu-item">
                  <a href="tel:8 800 5555-345">8 800 5555-345</a>
                </li>
                <li class="menu-item">
                  <a href="mailto:asg@gmail.com">asg@gmail.com</a>
                </li>
                <li class="menu-item"><a href="#">Официальный каталог</a></li>
                <li class="menu-item"><a href="#">Проверка подлинности</a></li>
                <li class="menu-item"><a href="#">Политика сайта</a></li>
              </ul>
            </nav>
          </div>
          <div class="footer__links--bottom">
            <span
              >Все материалы являются объектом авторского права ООО «АСГ». 2023
              год.</span
            >
            <a href="#top">
              <svg class="" viewBox="0 0 11 7">
                <use xlink:href="img/sprite.svg#icon-footer-arrow"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
