<div class="visually-hidden" id="top"></div>
<header class="header">
  <div class="header__container">
    <a href="" class="header__logo">
      <svg class="header__logo--svg" viewBox="0 0 164 60">
        <use xlink:href="img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="header__links">
      <div class="header__links--top">
        <nav class="nav-menu">
          <ul>
            <li class="menu-item"><a href="#">КОМПАНИЯ</a></li>
            <li class="menu-item"><a href="#">ПРОДУКЦИЯ</a></li>
            <li class="menu-item"><a href="#">Пресс-центр</a></li>
            <li class="menu-item"><a href="#">поставщикам</a></li>
            <li class="menu-item"><a href="#">карьера</a></li>
            <li class="menu-item"><a href="#">контакты</a></li>
          </ul>
        </nav>
        <div class="header__links--languages">
          <a class="active" href="">ru</a>
          <a href="">en</a>
        </div>
      </div>
      <div class="header__links--bottom">
        <a href="">Официальный каталог</a>
        <a href="">Проверка подлинности</a>
      </div>
    </div>
    <div class="header__burger">
      <button class="btn-reset burger data-burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
<div class="header__padding"></div>
