<div class="visually-hidden" id="top"></div>
<header class="header header--white">
  <div class="header__container">
    <a href="home.html" class="header__logo">
      <svg class="header__logo--svg" viewBox="0 0 164 60">
        <use xlink:href="img/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <div class="header__links">
      <div class="header__links--top">
        <nav class="nav-menu">
          <ul>
            <li class="menu-item"><a href="#">КОМПАНИЯ</a></li>
            <li class="menu-item"><a href="#">ПРОДУКЦИЯ</a></li>
            <li class="menu-item"><a href="#">Пресс-центр</a></li>
            <li class="menu-item"><a href="#">поставщикам</a></li>
            <li class="menu-item"><a href="#">карьера</a></li>
            <li class="menu-item"><a href="#">контакты</a></li>
          </ul>
        </nav>
        <div class="header__links--languages">
          <a class="active" href="">ru</a>
          <a href="">en</a>
        </div>
      </div>
      <div class="header__links--bottom">
        <a href="">Официальный каталог</a>
        <a href="">Проверка подлинности</a>
      </div>
    </div>
    <div class="header__burger">
      <button class="btn-reset burger data-burger-open">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </div>
  </div>
</header>
<div class="menu data-menu display-none">
  <div class="menu__container">
    <div class="menu__top">
      <a href="home.html" class="menu__logo">
        <svg class="" viewBox="0 0 164 60">
          <use xlink:href="img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="menu__button">
        <button class="burger data-burger-close">
          <span class="burger__line"></span>
          <span class="burger__line"></span>
        </button>
      </div>
    </div>
    <div class="menu__nav">
      <nav class="nav-menu">
        <ul>
          <li class="menu-item"><a href="#">КОМПАНИЯ</a></li>
          <li class="menu-item"><a href="#">ПРОДУКЦИЯ</a></li>
          <li class="menu-item"><a href="#">поставщикам</a></li>
          <li class="menu-item"><a href="#">карьера</a></li>
          <li class="menu-item"><a href="#">контакты</a></li>
          <li class="menu-item">
            <span>Пресс-центр:</span>
            <a href="#">новости</a>
          </li>
          <li class="menu-item"><a href="#">Digest асг</a></li>
          <li class="menu-item"><a href="#">Пресс-кит</a></li>
        </ul>
        <ul>
          <li class="menu-item">
            <a href="tel:8 800 5555-345">8 800 5555-345</a>
          </li>
          <li class="menu-item">
            <a href="mailto:asg@gmail.com">asg@gmail.com</a>
          </li>
          <li class="menu-item"><a href="#">Официальный каталог</a></li>
          <li class="menu-item"><a href="#">Проверка подлинности</a></li>
          <li class="menu-item"><a href="#">Политика сайта</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
