<section class="index">
  <div class="index__container">
    <div class="index__box">
      <div class="index__cont">
        <a href="home.html" class="btn btn__index">1 Главная</a>
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">2 О компании</a>
        <a href="#" class="btn btn__index">2.1 О компании</a>
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">2.2 О компании - Миссия и цености</a>
        <a href="#" class="btn btn__index"
          >2.3 О компании - География поставок</a
        >
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">2.3 О компании - Награды</a>
        <a href="#" class="btn btn__index">2.4 О компании - Ответственность</a>
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">3 Продукция</a>
        <a href="#" class="btn btn__index">4 Карточка продукта</a>
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">5 Новости</a>
        <a href="#" class="btn btn__index">6 Статья</a>
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">7 Пресс-кит</a>
        <a href="#" class="btn btn__index">8 Поставщикам</a>
      </div>
      <div class="index__cont">
        <a href="#" class="btn btn__index">9 Контакты</a>
        <a href="error.html" class="btn btn__index">10 404</a>
      </div>
    </div>
  </div>
</section>
