<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a href="about.html" class="tabs__nav-btn tabs__primary--btn">
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="history.html" class="tabs__nav-btn tabs__primary--btn">
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="mission.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                АСГ Сегодня
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="map.html" class="tabs__nav-btn tabs__primary--btn">
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="awards.html" class="tabs__nav-btn tabs__primary--btn">
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="response.html" class="tabs__nav-btn tabs__primary--btn">
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div class="tabs__panel tabs__primary--panel tabs__panel--active">
            <div class="pageMission__container">
              <h3>АСГ Сегодня</h3>
              <div class="pageMission__flex">
                <a href="" class="itemC">
                  <div class="itemC__img">
                    <img src="./img/svg/icon-mission-1.svg" alt="" />
                    <img
                      class="itemC__img--active"
                      src="./img/svg/icon-mission-1-active.svg"
                      alt=""
                    />
                  </div>
                  <div class="itemC__title">30 лет</div>
                  <div class="itemC__text">Создаем качественную продукцию</div>
                </a>
                <a href="" class="itemC">
                  <div class="itemC__img">
                    <img src="./img/svg/icon-mission-2.svg" alt="" />
                    <img
                      class="itemC__img--active"
                      src="./img/svg/icon-mission-2-active.svg"
                      alt=""
                    />
                  </div>
                  <div class="itemC__title">340 +</div>
                  <div class="itemC__text">Точек продаж по всей России</div>
                </a>
                <a href="" class="itemC">
                  <div class="itemC__img">
                    <img src="./img/svg/icon-mission-3.svg" alt="" />
                    <img
                      class="itemC__img--active"
                      src="./img/svg/icon-mission-3-active.svg"
                      alt=""
                    />
                  </div>
                  <div class="itemC__title">14033 +</div>
                  <div class="itemC__text">
                    Производим количество продукции в год
                  </div>
                </a>
                <a href="" class="itemC">
                  <div class="itemC__img">
                    <img src="./img/svg/icon-mission-4.svg" alt="" />
                    <img
                      class="itemC__img--active"
                      src="./img/svg/icon-mission-4-active.svg"
                      alt=""
                    />
                  </div>
                  <div class="itemC__title">1200 м²</div>
                  <div class="itemC__text">
                    Общая площадь нашего производства
                  </div>
                </a>
              </div>
              <div class="pageMission__container--small">
                <p>
                  «Алкогольная Сибирская Группа» (АСГ) — один из крупнейших
                  производителей крепкого алкоголя в России, входящий в тройку
                  лидеров рынка. Помимо производства, компания успешна и как
                  дистрибьютор, в портфеле которого более 600 товарных позиций.
                  В 2022 году АСГ реализовала почти 10 млн декалитров алкоголя,
                  за что была признана российским поставщиком № 1 (SCM ALCO
                  SURVEY 2022, Advantage 2022). Успехи были бы немыслимы без
                  слаженной работы всех подразделений компании. Удачная
                  стратегия развития АСГ была отмечена престижной международной
                  премией TEAM AWARDS 2022 в номинации «Команда года», в
                  категории «Промышленность».
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
