<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a href="about.html" class="tabs__nav-btn tabs__primary--btn">
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="history.html" class="tabs__nav-btn tabs__primary--btn">
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                Достижения
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="map.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="awards.html" class="tabs__nav-btn tabs__primary--btn">
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="response.html" class="tabs__nav-btn tabs__primary--btn">
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div class="tabs__panel tabs__primary--panel tabs__panel--active">
            <div class="pageMap__container">
              <h3>География поставок</h3>
              <div class="pageMap__map" id="mapContainer">
                <div class="pageMap__map--cont data-map" id="imageMap">
                  <div class="pageMap__map--pos">
                    <button
                      class="btn-reset button__map button__map--1 data-map-button"
                    >
                      <div class="button__map--container">
                        <div class="button__map--text">
                          <h6>Великобритания</h6>
                          <p>В 2022 году поставили 356 000 литров продукции</p>
                        </div>
                        <svg class="" viewBox="0 0 20 25">
                          <use xlink:href="img/sprite.svg#icon-map"></use>
                        </svg>
                      </div>
                    </button>
                    <button
                      class="btn-reset button__map button__map--2 data-map-button"
                    >
                      <div class="button__map--container">
                        <div class="button__map--text">
                          <h6>Великобритания</h6>
                          <p>В 2022 году поставили 356 000 литров продукции</p>
                        </div>
                        <svg class="" viewBox="0 0 20 25">
                          <use xlink:href="img/sprite.svg#icon-map"></use>
                        </svg>
                      </div>
                    </button>
                    <button
                      class="btn-reset button__map button__map--3 data-map-button"
                    >
                      <div class="button__map--container">
                        <div class="button__map--text">
                          <h6>Великобритания</h6>
                          <p>В 2022 году поставили 356 000 литров продукции</p>
                        </div>
                        <svg class="" viewBox="0 0 20 25">
                          <use xlink:href="img/sprite.svg#icon-map"></use>
                        </svg>
                      </div>
                    </button>
                    <button
                      class="btn-reset button__map button__map--4 data-map-button"
                    >
                      <div class="button__map--container">
                        <div class="button__map--text">
                          <h6>Великобритания</h6>
                          <p>В 2022 году поставили 356 000 литров продукции</p>
                        </div>
                        <svg class="" viewBox="0 0 20 25">
                          <use xlink:href="img/sprite.svg#icon-map"></use>
                        </svg>
                      </div>
                    </button>
                    <img
                      class="image-main desk"
                      src="./img/image-map-desk.png"
                      alt=""
                    />
                    <img
                      class="image-main tablet"
                      src="./img/image-map-tablet.png"
                      alt=""
                    />
                    <img
                      class="image-main mobile"
                      src="./img/image-map-mobile.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <div class="pageMap__flags desk">
                <ul>
                  <li>
                    <img src="./img/svg/flag-1.svg" alt="" />
                    <span>Азербайджан</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-2.svg" alt="" />
                    <span>Армения</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-3.svg" alt="" />
                    <span>Абхазия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-4.svg" alt="" />
                    <span>Германия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-5.svg" alt="" />
                    <span>Грузия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-6.svg" alt="" />
                    <span>Израиль</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-7.svg" alt="" />
                    <span>Киргизия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-8.svg" alt="" />
                    <span>Литва</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-9.svg" alt="" />
                    <span>Эстония</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-10.svg" alt="" />
                    <span>Узбекистан</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="./img/svg/flag-11.svg" alt="" />
                    <span>Латвия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-12.svg" alt="" />
                    <span>Китай</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-13.svg" alt="" />
                    <span>Молдавия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-14.svg" alt="" />
                    <span>Южная Корея</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-15.svg" alt="" />
                    <span>Украина</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-16.svg" alt="" />
                    <span>Казахстан</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-17.svg" alt="" />
                    <span>США</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-18.svg" alt="" />
                    <span>Бельгия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-19.svg" alt="" />
                    <span>Люксембург</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="./img/svg/flag-20.svg" alt="" />
                    <span>Нидерланды</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-21.svg" alt="" />
                    <span>Великобритания</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-22.svg" alt="" />
                    <span>Франция</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-23.svg" alt="" />
                    <span>Словакия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-24.svg" alt="" />
                    <span>Чехия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-25.svg" alt="" />
                    <span>Вьетнам</span>
                  </li>
                </ul>
              </div>
              <div class="pageMap__flags tablet">
                <ul>
                  <li>
                    <img src="./img/svg/flag-1.svg" alt="" />
                    <span>Азербайджан</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-2.svg" alt="" />
                    <span>Армения</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-3.svg" alt="" />
                    <span>Абхазия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-4.svg" alt="" />
                    <span>Германия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-5.svg" alt="" />
                    <span>Грузия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-6.svg" alt="" />
                    <span>Израиль</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-7.svg" alt="" />
                    <span>Киргизия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-8.svg" alt="" />
                    <span>Литва</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-9.svg" alt="" />
                    <span>Эстония</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-10.svg" alt="" />
                    <span>Узбекистан</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-11.svg" alt="" />
                    <span>Латвия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-12.svg" alt="" />
                    <span>Китай</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-13.svg" alt="" />
                    <span>Молдавия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-14.svg" alt="" />
                    <span>Южная Корея</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-15.svg" alt="" />
                    <span>Украина</span>
                  </li>
                </ul>
                <ul>
                  <li>
                    <img src="./img/svg/flag-16.svg" alt="" />
                    <span>Казахстан</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-17.svg" alt="" />
                    <span>США</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-18.svg" alt="" />
                    <span>Бельгия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-19.svg" alt="" />
                    <span>Люксембург</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-11.svg" alt="" />
                    <span>Латвия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-12.svg" alt="" />
                    <span>Китай</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-20.svg" alt="" />
                    <span>Нидерланды</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-21.svg" alt="" />
                    <span>Великобритания</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-22.svg" alt="" />
                    <span>Франция</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-23.svg" alt="" />
                    <span>Словакия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-24.svg" alt="" />
                    <span>Чехия</span>
                  </li>
                  <li>
                    <img src="./img/svg/flag-25.svg" alt="" />
                    <span>Вьетнам</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
