<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="about.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="history.html" class="tabs__nav-btn tabs__primary--btn">
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                Миссия и ценности
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="map.html" class="tabs__nav-btn tabs__primary--btn">
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="awards.html" class="tabs__nav-btn tabs__primary--btn">
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="response.html" class="tabs__nav-btn tabs__primary--btn">
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div class="tabs__panel tabs__primary--panel tabs__panel--active">
            <div class="pageAbout__container">
              <div
                class="pageAbout__container--small pageAbout__container--small--one"
              >
                <h3>Производство</h3>
                <p>
                  Все крепкие напитки «Алкогольной Сибирской Группы» («АСГ»)
                  производятся на двух ликеро-водочных заводах.
                </p>
              </div>
              <div class="pageAbout__container--big">
                <div class="pageAbout__box">
                  <div class="pageAbout__box--text">
                    <h3>Завод «Омсквинпром»</h3>
                    <p>
                      Завод «Омсквинпром» был основан в старинном сибирском
                      городе Омске в 1993 году. Сегодня это один из крупнейших
                      ЛВЗ в стране. Итальянские линии розлива позволяют
                      выпускать 18 тыс. бутылок в час. Завод был сертифицирован
                      по международным стандартам ISO 9001 и ISO 22000 одним из
                      первых в отрасли.
                    </p>
                  </div>
                  <div class="pageAbout__box--slider">
                    <div class="swiper slider-about">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="slider-about--container">
                            <img src="./img/image-952-2.png" alt="" />
                            <p class="opacity-in">
                              Здесь меняется текст при смене слайдов, текст
                              служит описательной частью 1
                            </p>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider-about--container">
                            <img src="./img/image-952-1.png" alt="" />
                            <p class="opacity-in">
                              Здесь меняется текст при смене слайдов, текст
                              служит описательной частью 2
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pageAbout__box">
                  <div class="pageAbout__box--text">
                    <h3>«Рузский Купажный завод»</h3>
                    <p>
                      Вторая производственная площадка «АСГ» — молодой «Рузский
                      Купажный Завод», начавший работу в 2016 году неподалеку от
                      Старой Рузы, в экологически чистом районе на западе
                      Подмосковья. «Рузский Купажный Завод» также сертифицирован
                      по стандарту ISO 9001.
                    </p>
                  </div>
                  <div class="pageAbout__box--slider">
                    <div class="swiper slider-about">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="slider-about--container">
                            <img src="./img/image-952-1.png" alt="" />
                            <p class="opacity-in">
                              Здесь меняется текст при смене слайдов, текст
                              служит описательной частью 1
                            </p>
                          </div>
                        </div>
                        <div class="swiper-slide">
                          <div class="slider-about--container">
                            <img src="./img/image-952-2.png" alt="" />
                            <p class="opacity-in">
                              Здесь меняется текст при смене слайдов, текст
                              служит описательной частью 2
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="pageAbout__container--small pageAbout__container--small--last"
              >
                <p>
                  В 2021 году объем продукции, произведенной двумя заводами
                  «АСГ», составил 8,3 млн декалитров.
                </p>
                <button class="buttonC primary">Политика качества</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
