<div class="pageProducts mb-primary-150 mt-primary-100">
  <div class="main__container">
    <div class="container">
      <h1 class="titleC primary">Продукция</h1>
      <div class="main__content">
        <div
          class="tabs tabs__products tabs__secondary"
          data-tabs="tabs__products"
        >
          <ul class="tabs__nav tabs__secondary--nav">
            <li class="tabs__nav-item tabs__secondary--item">
              <button class="tabs__nav-btn tabs__secondary--btn" type="button">
                Наши бренды
              </button>
            </li>
            <li class="tabs__nav-item tabs__secondary--item">
              <button class="tabs__nav-btn tabs__secondary--btn" type="button">
                Импортные бренды
              </button>
            </li>
          </ul>
          <div class="tabs__content tabs__secondary--content">
            <div class="tabs__panel tabs__secondary--panel">
              <div class="filter filter__primary filter__primary--products">
                <div class="filter__primary--container">
                  <ul
                    class="filter__nav filter__nav-to-dropdown filter__primary--nav"
                  >
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter="all"
                      >
                        все
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-a"
                      >
                        Водка
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-b"
                      >
                        Виски
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-c"
                      >
                        джин
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-d"
                      >
                        ром
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-e"
                      >
                        коньяки
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-f"
                      >
                        Сладкие настойки и лекеры
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-g"
                      >
                        игристые вина
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="filter__content filter__primary--content">
                  <div
                    class="filter__panel filter__panel--active filter__primary--panel"
                  >
                    <div class="pageProducts__container">
                      <div class="mix category-a">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-1.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-1.png"
                              alt=""
                            />
                            <div class="itemC__name">Пять Озер</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-a">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-2.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-2.png"
                              alt=""
                            />
                            <div class="itemC__name">Белая Березка</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-a">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-3.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-3.png"
                              alt=""
                            />
                            <div class="itemC__name">Хаски</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-b">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-4.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-4.png"
                              alt=""
                            />
                            <div class="itemC__name">Siberian Express</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-b">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-5.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-5.png"
                              alt=""
                            />
                            <div class="itemC__name">Кедровица</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-c">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-6.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-6.png"
                              alt=""
                            />
                            <div class="itemC__name">Сиббитер Кедровый</div>
                            <div class="itemC__category">настойка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-d">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-7.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-7.png"
                              alt=""
                            />
                            <div class="itemC__name">Remeslo</div>
                            <div class="itemC__category">настойка</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs__panel tabs__secondary--panel">
              <div class="filter filter__primary filter__primary--products">
                <div class="filter__primary--container">
                  <ul
                    class="filter__nav filter__nav-to-dropdown filter__primary--nav"
                  >
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter="all"
                      >
                        все
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-a"
                      >
                        Водка
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-b"
                      >
                        Виски
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-c"
                      >
                        джин
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-d"
                      >
                        ром
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-e"
                      >
                        коньяки
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-f"
                      >
                        Сладкие настойки и лекеры
                      </button>
                    </li>
                    <li class="filter__nav-item filter__primary--item">
                      <button
                        class="filter__nav-btn filter__primary--btn"
                        type="button"
                        data-filter=".category-g"
                      >
                        игристые вина
                      </button>
                    </li>
                  </ul>
                </div>
                <div class="filter__content filter__primary--content">
                  <div
                    class="filter__panel filter__panel--active filter__primary--panel"
                  >
                    <div class="pageProducts__container">
                      <div class="mix category-b">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-5.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-5.png"
                              alt=""
                            />
                            <div class="itemC__name">Кедровица</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-c">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-6.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-6.png"
                              alt=""
                            />
                            <div class="itemC__name">Сиббитер Кедровый</div>
                            <div class="itemC__category">настойка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-d">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-7.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-7.png"
                              alt=""
                            />
                            <div class="itemC__name">Remeslo</div>
                            <div class="itemC__category">настойка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-a">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-1.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-1.png"
                              alt=""
                            />
                            <div class="itemC__name">Пять Озер</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                      <div class="mix category-a">
                        <a href="product.html" class="itemC">
                          <div class="itemC__fon--fon">
                            <div class="itemC__fon">
                              <img
                                class="itemC__fon--blur"
                                src="./img/image-574-2.png"
                                alt=""
                              />
                            </div>
                          </div>
                          <div class="itemC__bottle">
                            <img
                              class="itemC__bottle--img"
                              src="./img/image-product-2.png"
                              alt=""
                            />
                            <div class="itemC__name">Белая Березка</div>
                            <div class="itemC__category">водка</div>
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
