<div class="pageProviders mb-primary-150 mt-primary-100">
  <div class="main__container">
    <div class="container">
      <h1 class="titleC primary centered mb-primary-100">Поставщикам</h1>
      <div class="main__content">
        <div class="pageProviders__container--small">
          <div class="pageProviders__container--text">
            <p>
              Поставщиком компании «Алкогольная Сибирская Группа» может стать
              любая успешная организация, которая предоставляет
              высококачественные продукты и услуги.
            </p>
            <p>
              Закупочные процедуры «Алкогольной сибирской группы» проводятся на
              электронной торговой площадке B2B-Center.ru.Для участия в
              закупочных процедурах необходимо пройти регистрацию на торговой
              площадке В2В-Center.ru Использование электронной цифровой подписи
              не требуется.
            </p>
            <p>
              Уважаемый партнер, в нашей компании действует Горячая линия.Если
              вы столкнулись со злоупотреблениями, фактами превышения служебных
              полномочий и другими нарушениями, связанными с закупочной
              деятельностью, вы можете сообщить нам об этом на нашем сайте
              <a href="www.hotline.asg.ru">www.hotline.asg.ru</a>
            </p>
          </div>
          <div class="pageProviders__links">
            <a href="" target="_blank" download class="pageProviders__link">
              <div class="pageProviders__link--img">
                <img
                  class="img-hover"
                  src="../img/svg/icon-doc-providers-hover.svg"
                  alt=""
                />
                <img src="../img/svg/icon-doc-providers.svg" alt="" />
              </div>
              <div class="pageProviders__link--text">
                План проведения тендеров по непрямым закупкам .pdf
              </div>
            </a>
            <a href="" target="_blank" download class="pageProviders__link">
              <div class="pageProviders__link--img">
                <img
                  class="img-hover"
                  src="../img/svg/icon-doc-providers-hover.svg"
                  alt=""
                />
                <img src="../img/svg/icon-doc-providers.svg" alt="" />
              </div>
              <div class="pageProviders__link--text">
                План проведения тендеров по непрямым закупкам .pdf
              </div>
            </a>
          </div>
          <div class="pageProviders__search--header mobile">
            Поиск по закупкам и продажам компании:
          </div>
          <div class="pageProviders__search">
            <input
              class="pageProviders__search--input"
              type="text"
              placeholder="Введите запрос"
            />
            <button class="btn-reset pageProviders__search--btn">найти</button>
          </div>
          <div
            class="tabs tabs__search tabs__secondary"
            data-tabs="tabs__search"
          >
            <ul class="tabs__nav tabs__secondary--nav">
              <li class="tabs__nav-item tabs__secondary--item">
                <button
                  class="tabs__nav-btn tabs__secondary--btn"
                  type="button"
                >
                  Актуально (7)
                </button>
              </li>
              <li class="tabs__nav-item tabs__secondary--item">
                <button
                  class="tabs__nav-btn tabs__secondary--btn"
                  type="button"
                >
                  В архиве (1 848)
                </button>
              </li>
              <li class="tabs__nav-item tabs__secondary--item">
                <button
                  class="tabs__nav-btn tabs__secondary--btn"
                  type="button"
                >
                  Все (1 855)
                </button>
              </li>
            </ul>
            <div class="tabs__content tabs__secondary--content">
              <div class="tabs__panel tabs__secondary--panel">
                <div class="filter filter__primary filter__primary--search">
                  <div class="filter__primary--container">
                    <ul
                      class="filter__nav filter__nav-to-dropdown filter__primary--nav"
                    >
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter="all"
                        >
                          Все торги (7)
                        </button>
                      </li>
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter=".category-b"
                        >
                          продажи (0)
                        </button>
                      </li>
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter=".category-a"
                        >
                          закупки (7)
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="filter__content filter__primary--content">
                    <div
                      class="filter__panel filter__panel--active filter__primary--panel"
                    >
                      <div class="pageProviders__content">
                        <div class="pageProviders__header desk">
                          <div class="pageProviders__header--span">
                            Название процедуры
                          </div>
                          <div class="pageProviders__header--span">
                            Организатор
                          </div>
                          <div class="pageProviders__header--span">
                            Опубликовано
                          </div>
                          <div class="pageProviders__header--span">
                            Актуально до
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__panel tabs__secondary--panel">
                <div class="filter filter__primary filter__primary--search">
                  <div class="filter__primary--container">
                    <ul
                      class="filter__nav filter__nav-to-dropdown filter__primary--nav"
                    >
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter="all"
                        >
                          Все торги (7)
                        </button>
                      </li>
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter=".category-b"
                        >
                          продажи (0)
                        </button>
                      </li>
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter=".category-a"
                        >
                          закупки (7)
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="filter__content filter__primary--content">
                    <div
                      class="filter__panel filter__panel--active filter__primary--panel"
                    >
                      <div class="pageProviders__content">
                        <div class="pageProviders__header desk">
                          <div class="pageProviders__header--span">
                            Название процедуры
                          </div>
                          <div class="pageProviders__header--span">
                            Организатор
                          </div>
                          <div class="pageProviders__header--span">
                            Опубликовано
                          </div>
                          <div class="pageProviders__header--span">
                            Актуально до
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="tabs__panel tabs__secondary--panel">
                <div class="filter filter__primary filter__primary--search">
                  <div class="filter__primary--container">
                    <ul
                      class="filter__nav filter__nav-to-dropdown filter__primary--nav"
                    >
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter="all"
                        >
                          Все торги (7)
                        </button>
                      </li>
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter=".category-b"
                        >
                          продажи (0)
                        </button>
                      </li>
                      <li class="filter__nav-item filter__primary--item">
                        <button
                          class="filter__nav-btn filter__primary--btn"
                          type="button"
                          data-filter=".category-a"
                        >
                          закупки (7)
                        </button>
                      </li>
                    </ul>
                  </div>
                  <div class="filter__content filter__primary--content">
                    <div
                      class="filter__panel filter__panel--active filter__primary--panel"
                    >
                      <div class="pageProviders__content">
                        <div class="pageProviders__header desk">
                          <div class="pageProviders__header--span">
                            Название процедуры
                          </div>
                          <div class="pageProviders__header--span">
                            Организатор
                          </div>
                          <div class="pageProviders__header--span">
                            Опубликовано
                          </div>
                          <div class="pageProviders__header--span">
                            Актуально до
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="mix category-a">
                          <div href="" class="itemC">
                            <div class="itemC__title">
                              <a href="">Запрос предложений №3321232</a>
                              <span
                                >Покраска дымовой трубы котельной Покраска
                                дымовой трубы котельной Согласно ТЗ</span
                              >
                            </div>
                            <div class="itemC__spans">
                              <div class="itemC__span">
                                <span>Организатор</span>
                                <span>ООО "АСГ"</span>
                              </div>
                              <div class="itemC__span">
                                <span>Опубликовано</span>
                                <span>21.05.2023 20:49</span>
                              </div>
                              <div class="itemC__span">
                                <span>Актуально до</span>
                                <span>02.06.2023 16:00</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
