<div class="pageProduct">
  <div class="main__container">
    <div class="pageProduct__main">
      <div class="pageProduct__main--fon"></div>
      <img
        class="pageProduct__main--bg desk"
        src="./img/image-1920-1.png"
        alt=""
      />
      <img
        class="pageProduct__main--bg mobile"
        src="./img/image-320-1.png"
        alt=""
      />
      <img class="pageProduct__main--word" src="./img/svg/word.svg" alt="" />
    </div>
    <div class="container">
      <div class="main__content"></div>
    </div>
  </div>
</div>
