<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a href="about.html" class="tabs__nav-btn tabs__primary--btn">
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="history.html" class="tabs__nav-btn tabs__primary--btn">
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                Миссия и ценности
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="map.html" class="tabs__nav-btn tabs__primary--btn">
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="awards.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="response.html" class="tabs__nav-btn tabs__primary--btn">
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div class="tabs__panel tabs__primary--panel tabs__panel--active">
            <div class="pageAwards__container">
              <h3>Награды</h3>
              <div class="pageAwards__grid">
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-11.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-12.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-13.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-14.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-15.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-16.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-17.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-18.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
                <a href="#" class="itemC">
                  <div class="itemC__img">
                    <img src="../img/image-596-15.png" alt="" />
                  </div>
                  <p>
                    Водка «Пять Озер» - Знак «Товар повышенного качества» (9,6
                    баллов из 10 возможных), НКО «Российская система качества»
                    (Роскачество), 2018
                  </p>
                </a>
              </div>
              <button class="buttonC primary">показать все</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
