<div class="pageNews mb-primary-150">
  <div class="main__container">
    <div class="container">
      <div class="main__content">
        <h1 class="titleC primary">Новости компании</h1>
        <div class="pageNews__grid">
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-1.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>АСГ начала формировать в России категорию индийского виски</p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-2.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>«Пять Озер» обновили дизайн к своему 20-летию</p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-3.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>BROOM - первый джин от «Алкогольной Сибирской Группы»</p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-4.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>
              Водка «Gurman» стала главным партнером закрытого ужина
              «Литературного клуба» в Санкт-Петербурге
            </p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-5.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>
              «Алкогольная Сибирская Группа» признана лучшим поставщиком
              алкоголя среди российских водочных компаний
            </p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-6.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>Белая Березка на ПМЭФ-2021</p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-7.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>
              5 золотых медалей бренда Пять Озер и гран-при на конкурсе «Eurasia
              Spirits Drink»
            </p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-8.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>Сергей Лебедев назначен новым генеральным директором АСГ</p>
          </a>
          <a href="new.html" class="itemC">
            <div class="itemC__img">
              <div class="itemC__img--fon"></div>
              <img src="./img/image-596-9.png" alt="" />
            </div>
            <span>05.05.23</span>
            <p>Продолжение «Великой Династии»</p>
          </a>
        </div>

        <ul class="pagination primary desk">
          <li class="page-item">
            <a class="page-numbers" href="#">1</a>
          </li>
          <li class="page-item active">
            <span aria-current="page" class="page-numbers current">2</span>
          </li>
          <li class="page-item">
            <a class="page-numbers" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="page-numbers" href="#">4</a>
          </li>
          <li class="page-item">
            <a class="page-numbers" href="#">5</a>
          </li>
          <li class="page-item">
            <a class="next page-numbers" href="#" disabled="disabled">
              <svg class="" width="8" height="12" viewBox="0 0 8 12">
                <use xlink:href="img/sprite.svg#icon-pagination-arrow-1"></use>
              </svg>
            </a>
          </li>
          <li class="page-item">
            <a class="next-max page-numbers" href="#">
              <svg class="" width="13" height="12" viewBox="0 0 13 12">
                <use xlink:href="img/sprite.svg#icon-pagination-arrow-2"></use>
              </svg>
            </a>
          </li>
        </ul>
        <ul class="pagination primary mobile">
          <li class="page-item">
            <a class="page-numbers" href="#">1</a>
          </li>
          <li class="page-item active">
            <span aria-current="page" class="page-numbers current">2</span>
          </li>
          <li class="page-item">
            <a class="page-numbers" href="#">3</a>
          </li>
          <li class="page-item">
            <a class="next page-numbers" href="#" disabled="disabled">
              <svg class="" width="8" height="12" viewBox="0 0 8 12">
                <use xlink:href="img/sprite.svg#icon-pagination-arrow-1"></use>
              </svg>
            </a>
          </li>
          <li class="page-item">
            <a class="next-max page-numbers" href="#">
              <svg class="" width="13" height="12" viewBox="0 0 13 12">
                <use xlink:href="img/sprite.svg#icon-pagination-arrow-2"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
