<div class="pageHome mb-primary-150">
  <div class="main__container">
    <div class="main__content">
      <div class="pageHome__slider">
        <div class="pageHome__slider--fon"></div>
        <div class="swiper home-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="itemC primary">
                <div class="itemC__img">
                  <video
                    id="bigVideo"
                    preload="metadata"
                    class="video-desk"
                    loop=""
                    muted=""
                    playsinline=""
                    src="./video/A-R4-mirror-final.mp4"
                    type="video/mp4"
                    autoplay=""
                  ></video>
                  <video
                    class="video-mobile"
                    id="mobileVideo"
                    preload="metadata"
                    loop=""
                    muted=""
                    playsinline=""
                    src="./video/A-R4-mirror-final.mp4"
                    type="video/mp4"
                    autoplay=""
                  ></video>
                </div>
                <div class="itemC__text itemC__text--main">
                  <img
                    class="itemC__text--logo desk"
                    src="./img/svg/icon-title-desk.svg"
                    alt=""
                  />
                  <img
                    class="itemC__text--logo mobile"
                    src="./img/svg/icon-title-mobile.svg"
                    alt=""
                  />
                  <p>
                    Более 30 лет мы создаем сибирские бренды, которые признаны
                    во всем мире
                  </p>
                  <a href="about.html" class="buttonC secondary"
                    >УзНАТЬ БОЛЬШЕ о компании</a
                  >
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="itemC secondary">
                <div class="itemC__img">
                  <img
                    class="itemC__img--desk"
                    src="./img/image-1920-3.png"
                    alt=""
                  />
                  <img
                    class="itemC__img--smalltablet"
                    src="./img/image-home-tablet.png"
                    alt=""
                  />
                  <img
                    class="itemC__img--mobile"
                    src="./img/image-home-mobile.png"
                    alt=""
                  />
                </div>
                <div class="itemC__text">
                  <h4>
                    Siberian Express — супер-премиальная водка, вдохновленная
                    Транссибирской магистралью
                  </h4>
                  <a href="products.html" class="buttonC secondary"
                    >УзНАТЬ БОЛЬШЕ о продукте</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <button
          class="btn-reset pageHome__slider--arrow pageHome__slider--prev"
        >
          <svg class="arrow-slider desk" viewBox="0 0 106 106">
            <use xlink:href="img/sprite.svg#icon-arrow-home-desk"></use>
          </svg>
          <svg class="arrow-slider tablet" viewBox="0 0 17 30">
            <use xlink:href="img/sprite.svg#icon-arrow-home-tablet"></use>
          </svg>
        </button>
        <button
          class="btn-reset pageHome__slider--arrow pageHome__slider--next"
        >
          <svg class="arrow-slider desk" viewBox="0 0 106 106">
            <use xlink:href="img/sprite.svg#icon-arrow-home-desk"></use>
          </svg>
          <svg class="arrow-slider tablet" viewBox="0 0 17 30">
            <use xlink:href="img/sprite.svg#icon-arrow-home-tablet"></use>
          </svg>
        </button>
      </div>
      <div class="main__content--main">
        <div class="container">
          <h2 class="pageHome__title pageHome__title--1">
            Помимо создания собственной продукции, мы импортируем одни из лучших
            образцов зарубежных алкогольных брендов
          </h2>
          <div class="pageHome__products">
            <div class="pageProducts__container">
              <div class="mix category-a">
                <a href="product.html" class="itemC">
                  <div class="itemC__fon--fon">
                    <div class="itemC__fon">
                      <img
                        class="itemC__fon--blur"
                        src="./img/image-574-1.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="itemC__bottle">
                    <img
                      class="itemC__bottle--img"
                      src="./img/image-product-1.png"
                      alt=""
                    />
                    <div class="itemC__name">Пять Озер</div>
                    <div class="itemC__category">водка</div>
                  </div>
                </a>
              </div>
              <div class="mix category-a">
                <a href="product.html" class="itemC">
                  <div class="itemC__fon--fon">
                    <div class="itemC__fon">
                      <img
                        class="itemC__fon--blur"
                        src="./img/image-574-2.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="itemC__bottle">
                    <img
                      class="itemC__bottle--img"
                      src="./img/image-product-2.png"
                      alt=""
                    />
                    <div class="itemC__name">Белая Березка</div>
                    <div class="itemC__category">водка</div>
                  </div>
                </a>
              </div>
              <div class="mix category-a">
                <a href="product.html" class="itemC">
                  <div class="itemC__fon--fon">
                    <div class="itemC__fon">
                      <img
                        class="itemC__fon--blur"
                        src="./img/image-574-3.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="itemC__bottle">
                    <img
                      class="itemC__bottle--img"
                      src="./img/image-product-3.png"
                      alt=""
                    />
                    <div class="itemC__name">Хаски</div>
                    <div class="itemC__category">водка</div>
                  </div>
                </a>
              </div>
              <div class="mix category-b">
                <a href="product.html" class="itemC">
                  <div class="itemC__fon--fon">
                    <div class="itemC__fon">
                      <img
                        class="itemC__fon--blur"
                        src="./img/image-574-4.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="itemC__bottle">
                    <img
                      class="itemC__bottle--img"
                      src="./img/image-product-4.png"
                      alt=""
                    />
                    <div class="itemC__name">Siberian Express</div>
                    <div class="itemC__category">водка</div>
                  </div>
                </a>
              </div>
              <div class="mix category-b">
                <a href="product.html" class="itemC">
                  <div class="itemC__fon--fon">
                    <div class="itemC__fon">
                      <img
                        class="itemC__fon--blur"
                        src="./img/image-574-5.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="itemC__bottle">
                    <img
                      class="itemC__bottle--img"
                      src="./img/image-product-5.png"
                      alt=""
                    />
                    <div class="itemC__name">Кедровица</div>
                    <div class="itemC__category">водка</div>
                  </div>
                </a>
              </div>
              <div class="mix category-c">
                <a href="product.html" class="itemC">
                  <div class="itemC__fon--fon">
                    <div class="itemC__fon">
                      <img
                        class="itemC__fon--blur"
                        src="./img/image-574-6.png"
                        alt=""
                      />
                    </div>
                  </div>
                  <div class="itemC__bottle">
                    <img
                      class="itemC__bottle--img"
                      src="./img/image-product-6.png"
                      alt=""
                    />
                    <div class="itemC__name">Сиббитер Кедровый</div>
                    <div class="itemC__category">настойка</div>
                  </div>
                </a>
              </div>
            </div>
            <a href="products.html" class="buttonC primary"
              >Посмотреть все бренды</a
            >
          </div>
          <h2 class="pageHome__title pageHome__title--2">Новости компании</h2>
          <div class="pageHome__news">
            <div class="pageNews__grid">
              <a href="new.html" class="itemC">
                <div class="itemC__img">
                  <div class="itemC__img--fon"></div>
                  <img src="./img/image-596-1.png" alt="" />
                </div>
                <span>05.05.23</span>
                <p>
                  АСГ начала формировать в&nbsp;России категорию индийского
                  виски
                </p>
              </a>
              <a href="new.html" class="itemC">
                <div class="itemC__img">
                  <div class="itemC__img--fon"></div>
                  <img src="./img/image-596-2.png" alt="" />
                </div>
                <span>05.05.23</span>
                <p>«Пять Озер» обновили дизайн к&nbsp;своему 20-летию</p>
              </a>
              <a href="new.html" class="itemC">
                <div class="itemC__img">
                  <div class="itemC__img--fon"></div>
                  <img src="./img/image-596-3.png" alt="" />
                </div>
                <span>05.05.23</span>
                <p>
                  BROOM&nbsp;— первый джин от&nbsp;«Алкогольной Сибирской
                  Группы»
                </p>
              </a>
            </div>
            <a href="news.html" class="buttonC primary"
              >УЗНАТЬ БОЛЬШЕ НОВОСТЕЙ</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
