<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a href="about.html" class="tabs__nav-btn tabs__primary--btn">
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="history.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                Миссия и ценности
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="map.html" class="tabs__nav-btn tabs__primary--btn">
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="awards.html" class="tabs__nav-btn tabs__primary--btn">
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="response.html" class="tabs__nav-btn tabs__primary--btn">
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div class="tabs__panel tabs__primary--panel tabs__panel--active">
            <div class="pageHistory__container">
              <h3>История</h3>
              <div class="pageHistory__slider">
                <div class="pageHistory__slider--pagination">
                  <div class="pageHistory__pagination">
                    <button
                      class="btn-reset pageHistory__pagination--arrow pageHistory__pagination--prev"
                    >
                      <svg class="" viewBox="0 0 61 12">
                        <use
                          xlink:href="img/sprite.svg#icon-pagination-history-arrow"
                        ></use>
                      </svg>
                    </button>
                    <button
                      class="btn-reset pageHistory__pagination--arrow pageHistory__pagination--next"
                    >
                      <svg class="" viewBox="0 0 61 12">
                        <use
                          xlink:href="img/sprite.svg#icon-pagination-history-arrow"
                        ></use>
                      </svg>
                    </button>
                  </div>
                </div>
                <div class="swiper slider-history">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">1993 год</div>
                        <div class="itemC__text">
                          Основание ликероводочного завода «Омсквинпром» в
                          Омске.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">1995 год</div>
                        <div class="itemC__text">
                          На рынок выходит первый самостоятельно произведенный
                          напиток компании — горькая настойка «Лиетувишка
                          Кристаллине».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">1996 год</div>
                        <div class="itemC__text">
                          Увеличение производственных площадей. Выпуск винных
                          напитков «Пролетарский», «Сибирский кедр» и «Белый
                          шиповник».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">1997 год</div>
                        <div class="itemC__text">
                          Запатентована торговая марка «Богатство Сибири»: этот
                          бренд водки станет визитной карточкой предприятия.
                          Винные напитки «Шоколадный», «Кофейный» и «Хлебный»
                          расширяют ассортиментную линейку.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2001 год</div>
                        <div class="itemC__text">
                          Линейка бренда «Богатство Сибири» расширилась за счет
                          водок «Богатство Сибири. Охотничья удача» и «Богатство
                          Сибири. Крепкая».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2002 год</div>
                        <div class="itemC__text">
                          Начало выпуска водки «Капиталъ».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2003 год</div>
                        <div class="itemC__text">
                          Старт производства водки «Пять озер», которая вскоре
                          станет самой узнаваемой торговой маркой корпорации.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2005 год</div>
                        <div class="itemC__text">
                          Годовой объем продаж водки «Пять озер» превышает 9 млн
                          литров, благодаря чему «Омсквинпром» попадает в
                          рейтинг The Millionaires' Club престижного отраслевого
                          журнала Drinks International.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2008 год</div>
                        <div class="itemC__text">
                          На рынок выходит «Кедровица». Впервые в России
                          кедровая водка выпускается как самостоятельная линейка
                          из трех наименований: две особые водки — «На кедровых
                          орехах» и «На кедровых орехах с медом», и одна
                          традиционная — «На кедровой живице».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2009 год</div>
                        <div class="itemC__text">
                          Ренейминг корпорации «Омсквинпром». Выбор нового
                          имени, «Алкогольная Сибирская Группа», определяется
                          стратегической целью: закрепить за собой позицию
                          главного производителя водки в Сибири. Прежнее
                          название «Омсквинпром» сохраняется за заводом в Омске.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2010 год</div>
                        <div class="itemC__text">
                          Ассортимент корпорации расширяется за счет
                          приобретения прав на премиальный водочный бренд
                          «Хаски».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2011 год</div>
                        <div class="itemC__text">
                          Выход премиальной марки водки «Белая березка».
                          Благодаря брендам «Чистый состав» и «Гусли» компания
                          также утверждается в демократичном сегменте водочного
                          рынка.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2014 год</div>
                        <div class="itemC__text">
                          Начало федеральных продаж нового бренда водки
                          «Тельняшка» и коньяков под собственной торговой маркой
                          «Великая Династия».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2015 год</div>
                        <div class="itemC__text">
                          «Алкогольная Сибирская Группа» создает новую категорию
                          напитков: сибирские специалитеты «Сиббиттер». Начало
                          дистрибуции шотландского виски J&B (Diageo) дает старт
                          формированию импортного портфеля. В этом же году «АСГ»
                          выходит в категорию игристых вин с собственной
                          торговой маркой Beatrice.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2016 год</div>
                        <div class="itemC__text">
                          Ради защиты подлинности марки водка «Пять Озер» теперь
                          выпускается исключительно в бутылках из синего стекла.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2019 год</div>
                        <div class="itemC__text">
                          «Алкогольная Сибирская Группа» становится
                          стратегическим партнером Whyte & Mackay, представляя
                          на российском рынке ключевые бренды компании:
                          односолодовый виски Jura и Tamnavulin и смешанный
                          виски Claymore и Whyte & Mackay. Производственный
                          портфель «АСГ» пополняется марками водки Medoff и
                          «Мерная», а дистрибуционный — популярным брендом
                          коньяка «Коктебель».
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2022 год</div>
                        <div class="itemC__text">
                          «АСГ» впервые выходит в категорию джинов с собственным
                          премиальным брендом Broom и начинает производство
                          первого сибирского виски Bargest на заводе
                          «Омсквинпром». Начата федеральная дистрибуция сразу
                          трех новых брендов: супер-премиальной водки Siberian
                          Express, премиальной гастрономической водки Gastronom,
                          крафтовой водки Remeslo.
                        </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="itemC">
                        <div class="itemC__title">2023 год</div>
                        <div class="itemC__text">
                          «АСГ» формирует уникальный для России портфель виски
                          из Индии: компания эксклюзивно представляет бренды
                          таких значимых индийских компаний, как ABD (виски
                          Officer’s Choice, Sterling Reserve), ADS (виски Royal
                          Green, The Generation, ром Calenter) и Radico (виски
                          Ranthambore, Rampur, джин Jaisalmer).
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
