<div class="pageKit mb-primary-150 mt-primary-100">
  <div class="main__container">
    <div class="container">
      <h1 class="titleC primary centered mb-primary-100">Пресс-кит</h1>
      <div class="main__content">
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип.pdf</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип горизонтальный.pdf</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип Черно-белый.png</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип.pdf</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип горизонтальный.pdf</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип Черно-белый.png</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип.pdf</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип горизонтальный.pdf</span>
        </a>
        <a href="" target="_blank" download class="itemC">
          <img src="./img/image-596-10.png" alt="" />
          <span>Логотип Черно-белый.png</span>
        </a>
      </div>
    </div>
  </div>
</div>
