<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a href="about.html" class="tabs__nav-btn tabs__primary--btn">
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="history.html" class="tabs__nav-btn tabs__primary--btn">
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                Миссия и ценности
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="map.html" class="tabs__nav-btn tabs__primary--btn">
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="awards.html" class="tabs__nav-btn tabs__primary--btn">
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="response.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div class="tabs__panel tabs__primary--panel tabs__panel--active">
            <div class="pageResponse__container">
              <h3>Ответственность</h3>
              <h6>Декларация о воздействии на окружающую среду</h6>
              <p>
                «Алкогольная Сибирская Группа» («АСГ») — один из крупнейших
                игроков рынка с двумя производственными площадками в Омской и
                Московской областях. Мы добровольно расширяем зону нашей
                экологической ответственности согласно принятой в компании
                политике обеспечения безопасности, сохранения жизни, здоровья
                персонала и охраны окружающей среды.
              </p>
              <h6>Соблюдение законов экологической безопасности</h6>
              <p>
                Нарушения экологической безопасности предприятием — угроза не
                только имиджу компании, но и доходности бизнеса. Вот почему вся
                наша деятельность полностью соответствует требованиям
                российского природоохранного законодательства. Программа
                экологического контроля «АСГ» включает в себя:
              </p>
              <ul>
                <li>
                  регулярный замер выбросов вредных веществ в воздух и воду на
                  соответствие нормам;
                </li>
                <li>контроль утвержденных лимитов образования отходов;</li>
                <li>
                  своевременное внесение платежей за негативное воздействие на
                  окружающую среду;
                </li>
                <li>
                  профессиональная подготовка сотрудников, ответственных за
                  экологическую безопасность предприятия.
                </li>
              </ul>
              <p>Это лишь небольшая часть наших обязательств.</p>
              <h6>
                Выполнение нормативов утилизации согласно концепции расширенной
                ответственности производителей (РОП)
              </h6>
              <p>
                «АСГ» — участник «Национальной ассоциации природопользования».
                Следуя заключенному с ассоциацией соглашению, наша компания
                выполняет нормативы РОП по утилизации гофротары, полиэтилена и
                стеклянной бутылки. Одного лишь стекла мы отправляем на
                вторичную переработку 16 тысяч тонн ежегодно.
              </p>
              <h6>Вторичная переработка по стандартам ISO</h6>
              <p>
                При производстве укупорки, бутылочного стекла, групповой
                упаковки партнеры компании соблюдают все требования,
                закрепленные в спецификациях качества материалов, и следуют
                международным стандартам ISO.
              </p>
              <h6>Экологичный дизайн</h6>
              <p>
                Будучи ответственным производителем, ориентированным на
                минимизацию ущерба окружающей среде, «АСГ» с 2018 года перевела
                весь ассортиментный ряд своего самого популярного бренда, водки
                «Пять Озер», на использование экологичных бутылок без
                пластикового дозатора.
              </p>
              <h6>Раздельное накопление отходов</h6>
              <p>
                Раздельное накопление отходов производства позволяет снизить
                объемы твердых коммунальных отходов (ТКО), размещаемых на
                мусорных полигонах и отделить бумагу, полиэтилен, стеклобой и
                металлолом от потенциально опасных ТКО.
              </p>
              <h6>Замена люминесцентных ламп на светодиодные</h6>
              <p>
                Мы в плановом порядке меняем люминесцентные лампы освещения на
                более экономичные светодиодные, что также позволяет избежать
                выделения паров ртути в атмосферу.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
