<div class="pageContact mb-primary-150 mt-primary-100">
  <div class="main__container">
    <div class="container">
      <h1 class="titleC primary centered mb-primary-100">Контакты</h1>
      <div class="main__content">
        <div class="pageContact__container--small">
          <div class="address">
            <h2>«Алкогольная Сибирская Группа»</h2>
            <div class="address__rows">
              <div class="address__row">
                <div class="address__row--grid">
                  <div class="address__row--block">
                    <span>Офис в Омске:</span>
                    <span>644074, г. Омск, ул. 70 лет Октября, 19</span>
                  </div>
                  <div class="address__row--block">
                    <span>Телефон:</span>
                    <a href="tel:8 (495) 139 21 91">8 (495) 139 21 91</a>
                  </div>
                </div>
              </div>
              <div class="address__row">
                <div class="address__row--grid">
                  <div class="address__row--block">
                    <span>Служба качества:</span>
                    <a href="mailto:quality@asg.ru">quality@asg.ru</a>
                  </div>
                  <div class="address__row--block">
                    <span>Отдел управления персоналом:</span>
                    <a href="mailto:personalASG@asg.ru">personalASG@asg.ru</a>
                  </div>
                </div>
              </div>
              <div class="address__row">
                <div class="address__row--grid">
                  <div class="address__row--block">
                    <span>Отдел транспортной логистики:</span>
                    <a href="mailto:transport@asg.ru">transport@asg.ru</a>
                  </div>
                  <div class="address__row--block">
                    <span>PR и внешние коммуникации:</span>
                    <a href="mailto:mariya.miroshnik@asg.ru"
                      >mariya.miroshnik@asg.ru</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <p>
              Мы дорожим репутацией и следуем принципам честного ведения
              бизнеса. Если вы столкнулись с фактами коррупционного,
              мошеннического, неэтичного или недобросовестного поведения в
              отношении нас, то сообщите об этом на Горячую линию. Принимаются
              как персонализированные, так и анонимные сообщения. Обращение
              будет обработано на конфиденциальной основе!
            </p>
            <a href="" class="buttonC primary">Горячая линия</a>
          </div>
          <form class="form data-form relative">
            <h2>По остальным вопросам обращайтесь к нам через форму ниже:</h2>
            <div class="form__container relative">
              <span
                >Заполните данные и наш менеджер свяжется с Вами в ближайшее
                время:</span
              >
              <div class="form__inputs">
                <div class="form__input">
                  <input type="text" placeholder="Имя" />
                  <div class="form__warning"></div>
                </div>
                <div class="form__input">
                  <input type="tel" placeholder="Телефон" />
                  <div class="form__warning"></div>
                </div>
                <div class="form__input">
                  <input
                    class="data-test-email"
                    type="email"
                    placeholder="E-mail*"
                  />
                  <div class="form__warning"></div>
                </div>
                <div class="form__input">
                  <input type="text" placeholder="Сообщение" />
                  <div class="form__warning"></div>
                </div>
              </div>
              <div class="form__last">
                <button class="buttonC primary data-submit">Отправить</button>
                <div class="form__last--copyright">
                  <span
                    >Нажимая кнопку отправить, вы соглашаетесь с нашей
                  </span>
                  <a href="policy.html">политикой конфиденциальности</a>
                </div>
                <div class="form__last--error data-error display-none">
                  Не верно заполнено значение.
                </div>
              </div>
              <div class="form__success data-success display-none">
                <div class="form__success--title">
                  Заявка успешно отправлена!
                </div>
                <div class="form__success--text">
                  В ближайшее время с вами свяжется наш менеджер.
                </div>
                <a href="home.html" class="buttonC primary">на главную</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
