<div class="pageNew mb-primary-150">
  <div class="main__container">
    <div class="container">
      <div class="main__content">
        <a href="" class="back-link">
          <svg class="" viewBox="0 0 8 12">
            <use xlink:href="img/sprite.svg#icon-new-arrow-back"></use>
          </svg>
          <p>Назад</p>
        </a>
        <div class="pageNew__container">
          <div class="pageNew__container--small">
            <span class="date">05.05.23</span>
            <h1 class="titleC primary">
              "АСГ" начала формировать в России категорию индийского виски
            </h1>
          </div>
          <img src="./img/image-1820-1.png" alt="" />
          <div class="pageNew__container--small">
            <p>
              Алкогольная Сибирская Группа (АСГ) подписала соглашение с
              индийской компанией Allied Blenders & Distillers и с 15 февраля
              начнет эксклюзивную дистрибуцию виски, «The Officer’s Choice» и
              «Sterling Reserve», в Россию.
            </p>
            <p>
              ABD – крупнейший частный производитель алкоголя в Индии: годовой
              объем продаж ее мультикатегорийного портфеля составляет около 80
              млн декалитров. География поставок продукции ABD включает 23
              страны, в числе которых теперь и Россия.
            </p>
            <p>
              Стимулом для партнерства АСГ и ABD стала рыночная ситуация 2022
              года, когда крупнейшие мировые производители виски приостановили
              поставки на территорию РФ, а оставшиеся импортные бренды заметно
              подорожали. Как следствие, освободилось 25% рынка виски ценовой
              категории 900 - 1200 руб. и емкостью 1,7 млн декалитров. Чтобы
              занять эту нишу Алкогольная Сибирская Группа инициировала
              соглашение с ABD по дистрибуции ее двух флагманских брендов виски
              с лидерскими позициями на глобальном рынке и большим потенциалом
              для развития в России - The Officer’s Choice и Sterling Reserve.
            </p>
            <h6>The Officer’s Choice Blue</h6>
            <p>
              The Officer’s Choice Blue - купажированный виски из солодовых
              шотландских спиртов и отборных зерновых индийский дистиллятов.
              Выпускается с 1988 года. На протяжении 10 лет The Officer’s Choice
              остается в тройке самых продаваемых марок виски в мире и является
              одним из крупнейших алкогольных брендов, экспортируемых из Индии.
              Бренд относится к сегменту Стандарт с ценой на полке 1000 - 1200
              руб.
            </p>
            <p>
              А премиальный сегмент пополнит Sterling Reserve из шотландских
              односолодовых дистиллятов. Sterling Reserve входит в топ самых
              быстрорастущих виски в мире с 2019 года и удостоен золотой медали
              Monde Selection Quality Awards 2022 за высокое качество. В России
              будет представлены 2 SKU бренда - Sterling Reserve В7 1100-1300 и
              Sterling Reserve В10 1200-1500, в купаже которых шотландские
              односолодовые дистилляты. Sterling Reserve В7 – это виски с семью
              вкусовыми нотами: обугленного дуба, солода, фруктов, легкой
              торфянистости и цветочными оттенками. Sterling Reserve В10 – с
              более сложным и многогранным вкусовым и ароматическим профилем.
              Медовая сладость в аромате гармонирует с тонами фруктов, орехов и
              ячменя. Насыщенный дубовый вкус с тонами цитрусов, ванили и ягод.
            </p>
            <p>
              Также с октября 2022 года АСГ начала сотрудничество с еще одним
              индийским производителем ADS, четвертым по величине индийским
              производителем виски в мировом рейтинге. До конца февраля компании
              подпишут контракт о долгосрочном партнерстве на несколько лет. На
              российском рынке АСГ эксклюзивно представляет ключевые бренды ADS:
              два купажированных виски с шотландским солодом Royal Green
              (сегмент Стандарт) и The Generation (Премиум), а также премиальный
              ром Calenter из карибских и индийских спиртов.
            </p>
            <div class="pageNew__author">
              <div class="pageNew__avatar">
                <img src="./img/image-356-1.png" alt="" />
                <span>Елена Столбовских</span>
                <p>Председатель Правления АСГ</p>
              </div>
              <div class="pageNew__author--text">
                <p>
                  “Сотрудничество с ABD и ADS – это огромный шаг в продолжении
                  развития нашего глобального портфеля в ключевом сегменте
                  российского импорта. Индия производит 60% мирового объема
                  виски, но в России эта категория еще не развита. Поэтому мы
                  хотим первыми сформировать и развивать это направление. И
                  поскольку мы видим высокий интерес к новинкам со стороны
                  российского потребителя, для знакомства с категорией
                  индийского виски мы привезли образцы, которые проявили себя
                  наилучшим образом на мировом рынке. Для АСГ категория виски –
                  является второй по приоритету в 2023 году. Здесь мы продолжим
                  усиливаться сильными импортными брендами и собственными
                  торговыми марками”.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
