<div class="pageAbout mb-primary-150 mt-primary-100">
  <div class="main__container">
    <h1 class="titleC primary">О компании</h1>
    <div class="main__content">
      <div class="tabs tabs__primary">
        <div class="tabs__primary--container">
          <ul class="tabs__nav tabs__nav-to-dropdown tabs__primary--nav">
            <li class="tabs__nav-item tabs__primary--item">
              <a
                href="about.html"
                class="tabs__nav-btn tabs__primary--btn tabs__nav-btn--active"
              >
                Производство
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="history.html" class="tabs__nav-btn tabs__primary--btn">
                История
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                Миссия и ценности
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="mission.html" class="tabs__nav-btn tabs__primary--btn">
                География поставок
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="awards.html" class="tabs__nav-btn tabs__primary--btn">
                Награды
              </a>
            </li>
            <li class="tabs__nav-item tabs__primary--item">
              <a href="response.html" class="tabs__nav-btn tabs__primary--btn">
                Ответственность
              </a>
            </li>
          </ul>
        </div>
        <div class="tabs__content tabs__primary--content">
          <div
            class="tabs__panel tabs__primary--panel tabs__panel--active"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
