:root {
  // base
  --font-family: "Muller", "Inter", sans-serif;
  --content-width: 182rem;
  --container-offset: 5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --white-2: #f6f8fa;
  --white-3: #dfe6ed;
  --white-4: #ced6de;
  --white-5: #f8fafb;
  --white-hover: #dee2e7;
  --black: #121212;
  --beige: #fff8f0;
  --blue: #0052c8;
  --blue-2: #0045a9;
  --blue-hover: #0042a1;
  --red: #ff1f47;

  // --font
  --font-primary: "Muller", sans-serif;
  --font-secondary: "Inter", sans-serif;

  // z-index

  --z-dropdown-primary: 3;
  --z-product-bottle: 2;
  --z-img-hover-providers: 2;
  --z-fon-news: 2;
}
